apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api
  namespace: service
  labels:
    app: auth-api
spec:
  replicas: 2
  minReadySeconds: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: auth-api
  template:
    metadata:
      labels:
        app: auth-api
    spec:
      containers:
        - name: auth-api
          image: ghcr.io/liberte-top/auth-api:sha-397b932
          imagePullPolicy: IfNotPresent
          env:
            - name: SPRING_MAIN_LAZY_INITIALIZATION
              value: "true"
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: DATABASE_URL
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"
          ports:
            - containerPort: 3333
          readinessProbe:
            httpGet:
              path: /api/v1/health
              port: 3333
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/v1/health
              port: 3333
            initialDelaySeconds: 5
            periodSeconds: 10
