apiVersion: v1
kind: Service
metadata:
  name: auth-postgres
  namespace: service
  labels:
    app: auth-postgres
spec:
  type: ClusterIP
  selector:
    app: auth-postgres
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
