apiVersion: apps/v1
kind: Deployment
metadata:
  name: landing
  namespace: service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: landing
  template:
    metadata:
      labels:
        app: landing
    spec:
      containers:
        - name: landing
          image: nginx:1.27
          ports:
            - containerPort: 80
          volumeMounts:
            - name: landing-html
              mountPath: /usr/share/nginx/html/index.html
              subPath: index.html
      volumes:
        - name: landing-html
          configMap:
            name: landing-html
